* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Condensed Open Sans', sans-serif;
}
body {
  background-color: #2d4059;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 1rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 1.1rem;
}
header .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
@media (min-width: 801px) {
  header .navbar-toggle {
    display: none;
  }
}
header .active {
  display: flex;
}
header .logo img {
  width: 30%;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  text-align: center;
}
@media (max-width: 800px) {
  .nav-links {
    flex-direction: column;
    display: none;
    width: 50%;
    font-size: 1.3rem;
  }
}
.nav-links a {
  margin: 0 1.2rem;
  width: 10rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  z-index: 7;
}
.nav-links a:hover {
  color: #00ffff;
}
@media (max-width: 800px) {
  .nav-links a {
    padding: 1rem;
  }
}
.nav-links a button {
  font-size: 100%;
  font-family: inherit;
  border: none;
  border-radius: 15px;
  padding: 0 1.1rem;
  height: 2.3rem;
  width: 7rem;
  margin: 0 1.1rem;
  font-weight: bold;
}
@media (max-width: 800px) {
  .nav-links a button {
    display: none;
  }
}
.nav-links a .login {
  border: 1px solid white;
  background: none;
  color: white;
  width: 5.5rem;
}
.nav-links a .register {
  border: none;
  color: white;
  background: linear-gradient(to right, #febf10, #f0438d);
}
footer {
  font-weight: lighter;
  color: white;
  text-align: left;
}
footer .footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10%;
}
footer .footer-main div.logo {
  width: 25%;
  margin-right: 20%;
}
footer .footer-main div.logo img {
  width: 35%;
}
footer .footer-main div.logo h4 {
  font-size: 2rem;
}
footer .footer-main div.logo p {
  font-size: 1rem;
  line-height: 2;
}
footer .footer-main div {
  width: 10%;
  display: flex;
  flex-direction: column;
  line-height: 3;
}
footer .footer-main div ul {
  padding: 0;
}
@media (max-width: 500px) {
  footer .footer-main .footer-resources-2 {
    display: none;
  }
}
footer .copyright {
  margin-left: 10%;
  display: flex;
  justify-content: center ;
}
.banner {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}
@media (min-width: 801px) {
  .banner .mobile-btns {
    display: none;
    width: 100%;
  }
}
.banner .mobile-btns button {
  width: 95%;
  font-size: 100%;
  font-family: inherit;
  border-radius: 15px;
  padding: 0 1.1rem;
  height: 3rem;
  margin: 0 1.1rem 1.1rem;
  border: none;
  color: white;
  background: linear-gradient(to right, #febf10, #f0438d);
  font-weight: bold;
}
.banner h1 {
  color: white;
  font-size: 6rem;
  text-shadow: 1px 2px 3px black;
  line-height: 1;
  letter-spacing: 0.3rem;
  z-index: 7;
}
.banner img {
  width: 100%;
  -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
}
@media (max-width: 500px) {
  .banner img {
    display: none;
  }
}
.banner .center-mobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: pink;
}
.banner .center-mobile button {
  font-size: 100%;
  font-family: inherit;
  border-radius: 15px;
  padding: 0 1.1rem;
  height: 3rem;
  width: 15rem;
  margin: 0 1.1rem 1.1rem;
  border: none;
  color: white;
  background: linear-gradient(to right, #febf10, #f0438d);
  font-weight: bold;
}
@media (min-width: 801px) {
  .banner .center-mobile {
    display: none;
  }
}
.banner .center-left {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 7;
}
@media (max-width: 800px) {
  .banner .center-left {
    display: none;
  }
}
.banner .center-left button {
  font-size: 100%;
  font-family: inherit;
  border-radius: 15px;
  padding: 0 1.1rem;
  height: 3rem;
  width: 15rem;
  margin: 0 1.1rem;
  border: none;
  color: white;
  background: linear-gradient(to right, #febf10, #f0438d);
  font-weight: bold;
}
.main {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main h2 {
  font-size: 2rem;
}
.main p {
  font-weight: 300;
  font-family: 'Open sans condensed', sans-serif;
}
.main #services {
  color: #fedc7c;
}
.main #services .service-intro h1 {
  margin: 0 0 2.5% 0;
}
.main #services .service-intro p {
  margin: 0 15%;
  line-height: 1.5;
  font-weight: lighter;
}
.main #services .service-divs {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5%;
}
.main #services .service-divs div {
  width: 30%;
}
.main #services .service-divs div .fas {
  color: #f0438d;
}
.main .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.main .about .img-about {
  height: 300px;
  width: 100%;
  background-color: #fac0d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .about .txt-about {
  background-color: #f0438d;
  padding-bottom: 5%;
}
.main .about h2 {
  margin-top: 7%;
  font-weight: lighter;
  font-size: 3rem;
}
.main .about p {
  margin: auto 15%;
}
.main .about button {
  font-size: 100%;
  font-family: inherit;
  border-radius: 15px;
  padding: 0 1.1rem;
  height: 3rem;
  width: 15rem;
  margin: 0 1.1rem;
  border: none;
  background: white;
  font-weight: bold;
}
.team-container {
  display: grid;
  padding-top: 5%;
  grid-gap: 50px;
  grid-template: [row1-start] "member-1 member-2 member-3" 1fr [row1-end] [row2-start] "member-4 member-5 member-6" 1fr [row2-end] [row3-start] "member-7 member-8 member-9" 1fr [row3-end] / 1fr 1fr 1fr;
}
.team-container .team {
  display: grid;
  justify-items: center;
}
.team-container h2 {
  color: #a5d99a;
  font-family: 'Open sans condensed', sans-serif;
}
.team-container button {
  font-size: 100%;
  font-family: inherit;
  border-radius: 15px;
  height: 3rem;
  width: 15rem;
  border: none;
  background: white;
  font-weight: bold;
}
