// 9 member team page grid


.team-container {
    display: grid;

    // padding-top: 5%;
    grid-gap: 5%;
    grid-template: 
    [row1-start] "member-1 member-2 member-3" 1fr [row1-end]
    [row2-start] "member-4 member-5 member-6" 1fr [row2-end]
    [row3-start] "member-7 member-8 member-9" 1fr [row3-end]
    / 1fr 1fr 1fr;

    .team {
        display: grid;
        justify-items: center;
        img {
            max-width: 250px;
            max-height: 250px;
        }
    }

    h2 {
        color: #a5d99a;
        font-family: 'Open sans condensed', sans-serif;
    }

    button {
        font-size: 100%;
        font-family: inherit;
        border: none;
        border-radius: 15px;
        height: 3rem;
        width: 15rem;
        border: none;
        background: white;
        font-weight: bold;
    }
}