@mainblue: #2d4059;
@btngradient: linear-gradient(to right, #febf10, #f0438d);
@btngradient2: linear-gradient(to right, #febf10, #f0438d, #febf10);
@servicestxt: #fedc7c;
@iconcolor: #fac0d9;
@grannysmith: #a5d99a;

// Mobile variable

@mobile: (max-width: 500px);
@tablet: (max-width: 800px);
